/* Import colors from universal colorsheet */
@import url("../rice/colors.css");

@define-color bgcolor     @water;
@define-color bgcolor2    @water;
@define-color textcolor   @black;
@define-color bordercolor @water;

/********************
 ** Global Styles **
 ********************/
* {
  all: unset;
  font-size: 10px;
  font-family: "Ubuntu Nerd Font";
  transition: 200ms;
}

/*******************
 ** Slider Styles **
 *******************/
trough highlight {
  background: #cad3f5;
  border-radius: 3rem;
}

scale trough {
  margin: 0rem 1rem;
  background-color: #363a4f;
  border-radius: 1rem;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: #8aadf4;
}

/***************************************
 ** Floating Notifications Background **
 ***************************************/
.floating-notifications.background .notification-row .notification-background {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #363a4f;
  border: 3px solid @bordercolor;
  border-radius: 3rem;
  margin: 22px;
  background-color: @bgcolor;
  color: @textcolor;
  padding: 0;
}

/*************************
 ** Notification Styles **
 *************************/
.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 3rem;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #ed8796;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  font-size: 1.5rem;
  color: @textcolor;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: @textcolor;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: @textcolor;
}

/*************************
 ** Close Button Styles **
 *************************/
.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 1rem;
  padding: 2px;
  border-radius: 3rem;
  color: @textcolor;
  background-color: @bgcolor;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: #eb5358;
  color: @textcolor;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: #eb5358;
  color: @textcolor;
}

/***************************
 ** Control Center Styles **
 ***************************/
.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #363a4f;
  border: 3px solid @bordercolor;
  border-radius: 3rem;
  margin: 7px;
  background-color: @bgcolor;
  color: @textcolor;
  padding: 14px;
}

/*************************
 ** Widget Title Styles **
 *************************/
.control-center .widget-title > label {
  color: #cad3f5;
  font-size: 1.3em;
}

/***********************************
 ** Button Styles in Widget Title **
 ***********************************/
.control-center .widget-title button {
  border-radius: 3rem;
  color: #cad3f5;
  background-color: #363a4f;
  box-shadow: inset 0 0 0 1px #494d64;
  padding: 8px;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px #494d64;
  background-color: #5b6078;
  color: #cad3f5;
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px #494d64;
  background-color: #7dc4e4;
  color: #24273a;
}

/***********************************************
 ** Notification Row Styles in Control Center **
 ***********************************************/
.control-center .notification-row .notification-background {
  border-radius: 3rem;
  color: @textcolor;
  background-color: @bgcolor2;
  box-shadow: inset 0 0 0 1px #494d64;
  margin-top: 14px;
}

/**********************************************************
 ** More Styles for Notification Contents, Actions, etc. **
 **********************************************************/
.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border: 3px solid @bordercolor;
  border-radius: 3rem;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 3rem;
  color: #cad3f5;
  background-color: @bgcolor;
  box-shadow: inset 0 0 0 1px #494d64;
  margin: 7px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px #494d64;
  background-color: #363a4f;
  color: #cad3f5;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px #494d64;
  background-color: #7dc4e4;
  color: #cad3f5;
}

/*******************************************
 ** Close Button Styles in Control Center **
 *******************************************/
.control-center .notification-row .notification-background .close-button {
  margin: 1rem;
  padding: 2px;
  border-radius: 9999px;
  color: @textcolor;
  background-color: @bgcolor;
}

/**********************************************
 ** Hover and Active States for Close Button **
 **********************************************/
.control-center .notification-row .notification-background .close-button:hover {
  background-color: #ed8796;
  color: #24273a;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: #ed8796;
  color: #24273a;
}

/************************************************
 ** Hover Effects for Notification Backgrounds **
 ************************************************/
.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 1px #494d64;
  background-color: #8087a2;
  color: #cad3f5;
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 1px #494d64;
  background-color: #7dc4e4;
  color: #cad3f5;
}

/******************************************
 ** Progress Bar Styles in Notifications **
 ******************************************/
.notification.critical progress {
  background-color: #ed8796;
}

.notification.low progress,
.notification.normal progress {
  background-color: #8aadf4;
}

/*******************************
 ** Control Center DND Styles **
 *******************************/
.control-center-dnd {
  margin-top: 5px;
  border-radius: 8px;
  background: #363a4f;
  border: 1px solid #494d64;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: #363a4f;
}

.control-center-dnd slider {
  background: #494d64;
  border-radius: 8px;
}

/***********************
 ** Widget DND Styles **
 ***********************/
.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: #363a4f;
  border: 1px solid #494d64;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: #363a4f;
}

.widget-dnd > switch slider {
  background: #494d64;
  border-radius: 8px;
  border: 1px solid #6e738d;
}

/********************************
 ** Music Player Widget Styles **
 ********************************/
.widget-mpris .widget-mpris-player {
  background: #363a4f;
  padding: 7px;
}

.widget-mpris .widget-mpris-title {
  font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.8rem;
}

/****************************
 ** Menu Bar Widget Styles **
 ****************************/
.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: #ed8796;
}

/********************************
 ** Power Button Widget Styles **
 ********************************/
.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #363a4f;
}

.control-center .widget-label > label {
  color: #cad3f5;
  font-size: 2rem;
}

/************************
 ** Widget Grid Styles **
 ************************/
.widget-buttons-grid {
  padding-top: 1rem;
  margin-left: 4rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
  margin-right: 3rem;
}

/**************************
 ** Volume Widget Styles **
 **************************/
.widget-volume {
  padding-top: 1rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: #7dc4e4;
}

.widget-volume trough highlight {
  background: #7dc4e4;
}

/******************************
 ** Brightness Widget Styles **
 ******************************/
.widget-backlight trough highlight {
  background: #eed49f;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #eed49f;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

/******************************
 ** Notification Icon Styles **
 ******************************/
.image {
  border-radius: 1rem;
  margin-right: 1rem;
}
