@import "colors.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  border: 2px solid transparent;
  border-radius: 10px;
  color: @water;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 15px;
  margin: 5px;
  background-color: transparent;
  margin-left: 15px;
}

#workspaces button {
  color: @clouds;
  border-radius: 15px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sun;
  background-color: transparent;
  border-radius: 15px;
}

#workspaces button:hover {
  color: @sky;
  background-color: transparent;
  border-radius: 15px;
}

#custom-music,
#tray,
#backlight,
#network,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-updates,
#custom-fedora,
#custom-weather,
#custom-apps {
  color: @sun;
  background-color: @black;
  border: 3px solid @clouds;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  margin: 5px 5px;
}

#custom-fedora {
  margin-left: 20px;
}

#custom-power {
  margin-right: 20px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  margin-left: 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 15px;
}
