@import url("../rice/colors.css");

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
}

#workspaces {
  border-radius: 1.875rem;
  margin: 5px;
  background-color: transparent;
  margin-left: 15px;
}

#workspaces button {
  color: @clouds;
  padding: 0.4rem;
  border-radius: 1.875rem;
}

#workspaces button.active {
  color: @sun;
}

#workspaces button:hover {
  color: @sky;
  background-color: transparent;
  border-radius: 1.875rem;
}

#custom-music,
#window,
#tray,
#pulseaudio,
#backlight,
#network,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-updates,
#custom-fedora,
#custom-weather,
#custom-apps,
#custom-notification {
  color: @sun;
  background-color: @black;
  border: 3px solid @clouds;
  border-radius: 1.875rem;
  padding: 0.5rem 1rem;
  margin: 5px 5px;
}

#custom-fedora {
  margin-left: 20px;
}

#custom-power {
  margin-right: 20px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}
